:root{
    --vermelho: #d63a25;
    --barra: #a31603;
    --preto: #000;
    --branco:#fff;
    --background: #;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    color: var(--preto);
    background: var(--branco);
}

.navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    transition: all 0.5s;
    position: fixed;
}

.logo{
    color: var(--vermelho);
    font-weight: 600;
    font-size: 1.7rem;
}

.cor-fonte{
    color: var(--preto);
    font-weight: 600;
    font-size: 1.7rem;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-menu-link{
    color: var(--preto);
    font-size: 17px;
    font-weight: 500;
    transition: all .5s;
}

.nav-menu-link:hover{
    color: var(--vermelho);
}

.navegacao i{
    cursor: pointer;
    font-size: 1,5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--preto);
    margin: 5px auto;
    transition: all 0.3s;
}

.bar:nth-child(1),
.bar:nth-child(3){
    background: var(--barra);
}

.botao{
    background-color: var(--vermelho);
    color: var(--branco);
    padding: .6em 2.5em;
    width: 75px;
    height: 15px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: -1px 3px 10px var(--preto);
    border-radius: 7px;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.txt{
    max-width: 37rem;
}

.txt-vermelho{
    font-size: 1.5rem;
    color: var(--vermelho);
    margin-bottom: 1em;
}

.titulo{
    font-size: 4rem;
    margin-bottom: 1em;
}